# UI Framework
streamlit
streamlit-folium

# Data manipulation
pandas
numpy

# Geospatial processing
folium
geopandas
geopy

# Machine learning
scikit-learn
hdbscan

# Visualization
plotly
matplotlib
seaborn

# Date/Time handling
pytz